<div class="wrapper" ng-controller="MainCtrl">
  
  <header>
    <h1>Your Energy Savings</h1>
  </header>
  
  <div class="table-wrapper visualization">
      <section class="table-column-left bg-blue-dark">
        <h2 class="bg-orange">
          Your Savings Last Month
        </h2>
        <img src="images/savings-graph.png" alt="Your Savings Last Month">
      </section>
      
      <section class="table-column-center bg-warm-gray">
        <h2 class="bg-darker">
          Offsets <span class="visible-xs">the energy usage of</span>
        </h2>
        <div class="btn-group-vertical">
          <button type="button" class="btn" ng-model="currentViz" btn-radio="'cars'">
            <img src="images/car-saved.png" alt="Cars">
          </button>
          <button type="button" class="btn" ng-model="currentViz" btn-radio="'trees'">
            <img src="images/icon-tree.png" alt="Trees">
          </button>
          <button type="button" class="btn" ng-model="currentViz" btn-radio="'carbon'">
            <img src="images/icon-paw.png" alt="Kittens">
          </button>
        </div>
      </section>
      
      <section class="table-column-right bg-mustard">
        <h2>
          <span ng-show="currentViz == 'cars'">
            Six Cars
          </span>
          <span ng-show="currentViz == 'trees'">
            3 Trees
          </span>
          <span ng-show="currentViz == 'carbon'">
            4 kittens
          </span>
        </h2>
        <div class="vis-graphic">
          <div class="repeat-images cars" ng-show="currentViz == 'cars'">
            <div class="saved-outline">
              <img src="images/car-saved.png" ng-repeat="i in cars.saved">
            </div>
            <img src="images/car-not-saved.png" ng-repeat="i in cars.notsaved">
          </div>
          <div class="repeat-images" ng-show="currentViz == 'trees'">
            <div class="saved-outline">
              <img src="images/icon-tree.png" ng-repeat="i in trees.saved">
            </div>
            <img src="images/icon-tree.png" ng-repeat="i in trees.notsaved">
          </div>
          <img class="kittens" src="http://placekitten.com/g/380/300" ng-show="currentViz == 'carbon'">
        </div>
      </section>
  </div> 
  
  <div class="row">
    <div class="">
      <h3 class="text-center">
        Last month, you saved enough energy to 
        <span ng-show="currentViz == 'cars'">
          take <strong>six cars</strong> off the road!
        </span>
        <span ng-show="currentViz == 'trees'">
          plant <strong>14 trees</strong> in the forest!
        </span>
        <span ng-show="currentViz == 'carbon'">
          for <strong>4 kittens</strong> to live in joy and happiness!
        </span>
      </h3>
      <p class="lead footer-copy">
        Great job! You used 573 kWH last month, compared to 791 kWh in the same month last year. 
        <span ng-show="currentViz == 'cars'">
          The resulting savings is enough to offset the energy consumption of six average-size cars for one month.
        </span>
        <span ng-show="currentViz == 'trees'">
          The resulting savings is enough to offset the energy consumption of six average-size cars for one month.
        </span>
        <span ng-show="currentViz == 'carbon'">
          The resulting savings is enough to allow four kittens to live in joy and happiness for one month.
        </span>
      </p>
    </div>
  </div>
  
</div>
